html {
  scroll-behavior: smooth;
}

body {
  background-color: lightgrey;
  display: flex;
}

.body-dark {
  background-color: dimgray;
}

#quote {
  font-size: 20px;
  transition: color 300ms ease-in-out;
  text-align: justify;
  color: #8a8a8a
}

#quote:hover {
  color: red;
}

.theme-button {
  padding: 5px 10px;
  border-radius: 7px;
  border-color: lightblue;
  background-color: azure;
  font-family: Arial, sans-serif;
  cursor: pointer;
}

.light {
  max-width: 900px;
  margin: 0 auto;
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 5px 4px rgba(0, 0, 0, 0.35);
  color: black;
}

.dark .theme-button {
  background-color: cornflowerblue;
}

.dark {
  max-width: 900px;
  margin: 0 auto;
  background-color: black;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 5px 4px rgba(0, 0, 0, 0.35);
  color: white;
}

#quote-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#quote {
  display: block;
  width: 300px;
}

#quote > p {
  text-align: right;
}


.caption {
  font-size: 12px;
  padding-bottom: 15px;
}

#flag-of-britain {
  margin-left: 0;
  width: 236px;
}

.tooltip-button {
  position: relative;
  background-color: silver;
  border-radius: 4px;
  font-size: 15px;
  width: 50px;
  padding: 4px;
  cursor: pointer;
  user-select: none;
}

.tooltip {
  display: none;
  background-color: aliceblue;
  border-radius: 5px;
  border: solid 2px deepskyblue;
  width: 150px;
  height: auto;
  min-height: 25px;
  position: absolute;
  left: 50%;
  bottom: 100%;
  transform: translateX(-50%);
  font-size: 12px;
  text-align: center;
  /*position: absolute;*/
}

.tooltip-button:hover .tooltip {
  display: inline-block;

}

.dark .tooltip {
  background: darkblue;
}

.menu-container {
  position: relative;
  display: grid;
  align-content: flex-start;
  width: 180px;
}

.menu-button {
  width: 45px;
  height: 35px;
  border: 1px solid deepskyblue;
  border-radius: 7px;
  /*position: absolute;*/
  /*top: 177px;*/
  /*left: -1px;*/
  font-family: Arial, sans-serif;
}


.menu-image {
  width: 30px;
  height: 30px;
}

.menu-box {
  width: 180px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 40px;
  align-items: flex-start;
  left: -250px;
  position: absolute;
}

.open-menu {
  left: 0;
}

.menu-box span {
  border: solid 1px deepskyblue;
  border-radius: 7px;
  padding: 15px;
  width: 100px;
  font-family: Arial, sans-serif;
  background-color: aliceblue;
  transition: 0.4s;
  cursor: pointer;
}

.menu-box span:hover {
  padding-left: 66px;
  border: solid 2px deepskyblue;
  background-color: lightblue;
}

a {
  text-decoration: none;
  color: orange;
}

.chapter-style {
  color: grey;
  font-weight: inherit;
  text-align: center;
}

#story {
  text-align: justify;
  font-family: Arial, sans-serif;
}

#title {
  text-align: center;
  font-family: Algerian, serif;
  font-size: 40px;
}

h2 {
  text-align: center
}


#introduction:first-letter {
  font-size: 83.5px;
  font-family: "Imprint MT Shadow", sans-serif;
  float: left;
  line-height: 0.6;
  margin: 10px 10px 9px 0;
}

ul {
  list-style-image: url("images/1920px-Flag_of_Wales_(1959–present).jpg");
}

figure {
  float: left;
}

.heart {
  width: 20px;
  height: 20px;
  cursor: pointer;
  user-select: none;
}

.dark .heart {
  fill: white;
}

.likes-number {
  font-size: 23px;
  line-height: 20px;
}

.comment-feed {
  margin: 0 0 12px 0;
  font: inherit;
}


/*.triangle {*/
/*    display: block;*/
/*    background-color: aliceblue;*/
/*    width: 0;*/
/*    height: 0;*/
/*    border-right: 50px solid transparent;*/
/*    border-left: 50px solid transparent;*/
/*    border-bottom: 50px solid lightskyblue;*/
/*   */
/*}*/

.comment-container {
  margin-bottom: 30px;
}

.comments-title {
  font-size: 22px;
  margin-right: 900px;
  margin-top: 50px;
}

.all-comments {
  list-style: none;
  padding-inline-start: 10px;
  margin-block-start: 10px;
}

.comment-number {
  color: lightgray;
}

.personal-comment {
  padding: 10px;
  display: block;
  background-color: aliceblue;
  border-radius: 5px;
  border: 1px solid lightskyblue;
  margin-bottom: 5px;
  word-wrap: break-word;
}

.dark .personal-comment {
  color: black;
}

.all-comments .personal-comment {
  display: flex;
  position: relative;
}

.comment-form {
  display: flex;
}

.comment-content {
  position: relative;
  flex-grow: 1;
}

.comment-label {
  position: absolute;
  top: -20px;
  left: -5px;
  padding: 5px;
  line-height: 15px;
  font-size: 10px;
  color: gray;
}


.comment-field {
  width: 95%;
  line-height: 30px;
  font-size: 14px;
  padding: 0 10px;
  height: 30px;
}

.symbols-number {
  font-size: 11px;
}

.submit-button {
  width: 15%;
  height: 35px;
  color: white;
  background-color: royalblue;
  font: inherit;
  border-radius: 7px;
}

.warning {
  color: red;
}

.comment-form.warning .comment-field {
  color:red;
}

.submit-button:disabled {
  background-color: lightgray;
  color: darkgray;
}


/*.subscription-message {*/
/*    color: white;*/
/*    background: blueviolet;*/
/*    border: 1px;*/
/*    border-radius: 5px;*/
/*    padding: 5px;*/
/*}*/


/*.nextMessage {*/
/*    color: darkblue;*/
/*    border-radius: 5px;*/
/*    background-color: lightsteelblue;*/
/*    padding: 7px 15px;*/
/*    margin-top: 10px;*/
/*}*/

.liked > div {
  background: red;
}

.up-button {
  display: none;
}

.up-button:hover {
  border-color: lightsteelblue;
}

.shown {
  display: inline-block;
  position: fixed;
  width: 65px;
  height: 65px;
  border: 5px solid cornflowerblue;
  border-radius: 50%;
  bottom: 60px;
  right: 20px;
  cursor: pointer;
}



